@import 'styles/site.sass'

.Main
  cursor: pointer
  position: relative
  @include animate(0.1s)
  color: currentColor
  padding-bottom: units(3)
  display: flex

  &:before
    content: "↗"
    margin-right: units(1)
    text-decoration: none !important
    @extend %body-s
  
  header
    display: block !important
    margin: 0 !important

    h5
      @extend %body-m
      @extend %medium
    
    p
      @extend %body-s
      margin-top: units(1)

  &:hover
    h5
      text-decoration: underline
