@import 'styles/site.sass'

.Main
  position: relative
  background: $white
  color: $black
  padding: $space-xs
  
  @include min($screen-l)
    padding: $space-m
    flex: 0
    min-width: $info-bar-width
    position: sticky
    align-self: flex-start
    top: 0
    left: 0

  header
    position: relative
    margin: 0 auto
    
    .content
      flex: 1
      margin-top: units(3)
      
      @include min($screen-l)
        margin-top: units(8)

    h1
      @extend %heading-xl

    h2
      @extend %body-l
    
    h5
      @extend %body-m
      @extend %medium
      margin-bottom: -units(1)
    
.links
  padding: $space-xs 0
  border-top: $border-width solid $grey-300
  margin-top: $space-s
