@import 'styles/site.sass'

.Main
  position: relative
  background: $peach-200
  color: $yolk
  padding: $space-l 0 $space-m 0
  
  @include min($screen-l)
    padding: $space-l 0
    min-height: 100vh
    flex: 0
    min-width: $info-bar-width

  header
    position: relative
    margin: 0 auto
    
    .content
      flex: 1
      
      @include max($screen-l)
        margin-top: units(8)

    h1
      @extend %heading-xl

    h2
      @extend %body-l
    
    h5
      @extend %heading-m
    
.links
  padding: $space-m 0
  border-top: $border-width solid currentColor
  // border-bottom: $border-width solid currentColor
  margin-top: $space-l
  
  > h5
    @extend %heading-m
    margin-bottom: units(5)
    
  > div
    display: grid
    grid-gap: units(10) 
    grid-template-columns: 1fr 1fr 1fr
