@import 'styles/site.sass'

.Main
  header
    max-width: $text-max-width
    padding: $space-s 0

    @include min($screen-l)
      padding-top: $space-m

    h1
      @extend %heading-xl
      margin-bottom: $space-m

.resume
  padding: $space-s 0
  
  .content
