@import 'styles/site.sass'

.Main
  position: sticky
  top: 0
  z-index: $z-navigation
  height: $nav-bar-height
  background-color: white
  
  @include max($screen-l)
  @include min($screen-l)
    position: fixed
    left: 0
    top: 100vh
    width: 100vh
    padding: 0 units(3)
    transform-origin: top left
    transform: rotate(270deg)
  

  .content
    // mix-blend-mode: multiply
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    height: 100%

    > div:last-child()
      text-align: right

    h4
      @extend %heading-s

    p
      @extend %body-s

  .Spacer
    flex: 1
