@import 'styles/site.sass'

.Main
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: $white
  z-index: $z-overlay
  @include min($screen-m)

  @include min($screen-l)
    left: 0
    right: auto
    width: units(70)
    
  .linkBlock
    max-width: units(55)
  
  .content
    width: 100%
    height: 100%
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    background: $black
    color: $white
    padding: $space-s
    @include min($screen-l)
      padding: $space-m

    header
      margin-bottom: units(4)
      h2
        @extend %heading-l
        margin-bottom: units(1)
      p
        @extend %body-s
        opacity: 0.7

    h5
      @extend %body-xs
      @extend %bold
      margin-bottom: units(1)
      opacity: 0.5
      display: none

    .homeLink
      padding: 0.8rem 0
      p
        @extend %body-m
        @extend %links
